/* --------------- Base CSS mobile workflow*/

/* general style */
html {
  font-size: 1rem;
  font-family: Merienda, "Courier New", monospace;
  font-weight: 500;

  * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
}

/* header navigation */
header {
  background-color: rgb(0, 0, 0);
  padding: 0 0.7em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  .head-nav {
    width: 100%;

    nav ul {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
    }

    nav ul li a {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      color: yellowgreen;
      font-size: 1.3em;
      border-radius: 2px;
      padding: 0.5em 1em;
      margin: 0.5em;
    }

    nav ul li a:hover {
      background-color: yellowgreen;
      color: black;
      transition: color 0.3s;
    }
  }
}

/* --------------------------------main container */
main {
  padding: 3rem 0.8rem;
  padding-bottom: 6em;

  .image-section {
    display: none;
  }

  .sign-up-section {
    padding-top: 3em;
    display: flex;
    flex-direction: column;

    .alt-logo {
      display: flex;
      justify-content: center;

      img {
        width: 20%;
      }
    }

    .section-p {
      font-size: 1em;
      font-weight: bold;
      padding: 2em 0;

      a {
        text-decoration: none;
        color: #6666ed;
      }
    }

    .form-container {
      h1 {
        font-size: 2em;
      }

      h4 {
        font-size: 1em;
        word-spacing: 0.2em;
        padding: 1.2em 0;
        color: gray;
      }

      form {
        display: flex;
        flex-direction: column;

        .name-container {
          .twins {
            display: flex;
            flex-direction: column;
            padding: 1.2em 0 0;

            label {
              padding-bottom: 0.6em;
              font-size: 1em;
              font-weight: 500;
              color: black;
            }
            input {
              background-color: rgb(245, 242, 242);
              padding: 1.5em 0.8em;
              outline: none;
              width: 100%;
            }

            input:hover {
              border: 1px solid #6666ed;
            }

            input:focus {
              border: 1px solid #6666ed;
            }

            input::placeholder {
              font-size: 1.2em;
              color: rgb(177, 175, 175);
            }

            select {
              font-size: 1em;
              background-color: rgb(245, 242, 242);
              color: rgb(177, 175, 175);
              padding: 1.5em 0.8em;
              outline: none;
            }
          }

          .password-view {
            display: flex;
            align-items: center;

            input {
              width: 100%;
              position: relative;
            }

            span {
              position: absolute;
              right: 20px;
              z-index: 1000;
              color: rgb(156, 154, 154);
              font-size: 0.8em;
            }
          }
        }

        h4 {
          a {
            color: #6666ed;
          }
        }

        #submit-btn {
          display: flex;
          align-items: center;
          margin-top: 1em;
          padding-bottom: 5em;

          input {
            width: 100%;
            font-size: 0.7em;
            padding: 1.5em 0;
            background-color: #6666ed;
            color: whitesmoke;
            border-radius: 6px;
            position: relative;
          }
        }
      }
    }
  }
}

.foot {
  background-color: #000000;
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  font-size: 0.7em;
  padding: 1em 1em;
}

/* -------------------------------madia query */
/* tablet */
@media screen and (max-width: 430px) and (min-width: 768) {
  .sign-up-section {
    .alt-logo {
      display: flex;
      justify-content: center;

      img {
        width: 20%;
      }
    }

    .section-p {
      text-align: center;
    }
  }
}

/* laptop */
@media screen and (min-width: 1024px) {
  header {
    .head-nav {
      nav ul li a {
        margin: 0.2em;
        /* padding: 0.2em; */
      }
    }
  }

  main {
    display: flex;

    .image-section {
      width: 45%;
      height: 100vh;
      background-color: #f5f5f5;
      display: block;
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 0;
      padding-top: 2em;

      .content-box {
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 70%;
        }

        h3 {
          font-size: 2.2em;
          text-align: center;
          font-weight: 900;
          padding: 0 2em;
          padding-bottom: 1em;
        }
      }

      .icons {
        display: flex;
        justify-content: center;
        gap: 0.7em;
        padding-bottom: 0.5em;

        img {
          width: 0.8em;
        }
      }

      footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          font-size: 0.7em;
          padding-bottom: 0.5em;
          text-decoration: none;
        }
      }
    }

    .sign-up-section {
      position: absolute;
      top: 0;
      right: 0;
      width: 55%;
      padding: 3em 2em;
      display: flex;

      .alt-logo {
        display: none;
      }

      .section-p {
        text-align: right;
        font-size: 1em;
        padding: em 0;
        margin-top: 0.7em;
      }

      .form-container {
        padding-left: 2em;

        form {
          padding-right: 4em;

          .name-container {
            display: flex;
            gap: 1.5em;

            .twins {
              width: 100%;

              .password-view {
                span {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
