/* --------------------------------- Base CSS*/

/* general style */
html {
  font-size: 1rem;
  font-family: Merienda, Monaco, "Courier New", monospace;

  * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

  body {
    background-color: black;
  }
}

/* header navigation */
header {
  min-width: 100vw;
  display: flex;
  justify-content: right;
  position: fixed;
  z-index: 100;

  .head-nav {
    min-width: 40%;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }

    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: yellowgreen;
      font-size: 1.4em;
      border-radius: 4em;
      padding: 0.5em 1em;
    }

    a:hover {
      background-color: yellowgreen;
      color: black;
      transition: color 0.3s;
    }
  }
}

/* -----main container*/
main {
  padding: 0 1em;
  display: flex;
  min-width: 100vw;

  /* ----dark-tech section*/
  .quote-section {
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    margin-top: 20em;

    .quote {
      text-align: center;
      line-height: 2em;
      font-size: 2em;
      color: yellowgreen;
    }
  }
  /* ----about me section*/
  #about-me-section {
    width: 60%;
    height: 100%;
    color: #e1e1e1;

    h1 {
      margin-top: 2em;
      text-align: center;
      font-size: 4rem;
      width: 100%;
      white-space: nowrap;
      padding-bottom: 0.5em;
    }

    p {
      padding: 0.5em 0 1em 0;
      font-size: 1.3em;
      line-height: 1.7em;
    }

    .ul-li {
      list-style: circle;
      padding-left: 2em;
    }

    span {
      color: greenyellow;
    }

    .signup-button {
      font-size: 1em;
      background-color: rgb(73, 99, 21);
      color: black;
      border-radius: 0.5em;
      cursor: pointer;
    }

    .signup-button:hover {
      background-color: yellowgreen;
    }

    .back-to-top ul {
      list-style: none;
      /* display: flex; */
    }

    .back-to-top li {
      margin-top: 4em;
    }

    .back-to-top .button {
      width: 100%;
      border-radius: 1em;
      background-color: rgb(73, 99, 21);
      display: flex;
      justify-content: center;
    }

    .back-to-top .button:hover {
      background-color: yellowgreen;
      cursor: pointer;
    }

    .back-to-top a {
      font-size: 1em;
      color: #000000;
      text-decoration: none;
      padding: 1em 5em;
      transition: color 0.3s;
      margin-bottom: 7em;
    }

    footer {
      background-color: #000000;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: left;
      font-size: 0.7em;
      padding: 1em 1em;
    }
  }
}

/* ------------------------------------Media QUERY */
/* ----media query  for tablet*/
@media screen and (max-width: 768px) {
  header {
    background-color: black;

    .head-nav {
      margin-top: 0.5em;
      display: flex;
      justify-content: center;
      width: 100%;

      ul {
        display: flex;
        flex-direction: row;
      }

      a {
        border-radius: 5px;
        padding: 0.5em 1em;
      }

      a:hover {
        background-color: yellowgreen;
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;

    .quote-section {
      display: flex;
      align-items: center;
      justify-content: center;
      position: static !important;
      width: 100%;
      height: 100vh;
      margin: 0;

      .quote {
        color: #c0c0c0;
      }
    }

    #about-me-section {
      width: 100%;

      h1 {
        padding-top: 1em;
        margin: 0;
      }
    }
  }
}

/* ------------------------------------for mobile*/
@media screen and (max-width: 430px) {
  header {
    padding: 0;

    .head-nav {
      margin-top: 0.5em;

      a {
        display: flex;
        justify-content: space-between;
        font-size: 1.3em;
        padding: 0.5em 1em;
        border-radius: 2px;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;

    .quote-section {
      .quote {
        color: #c0c0c0;
        font-size: 2em;
      }
    }

    #about-me-section {
      h1 {
        font-size: 1.8em;
      }
      p {
        font-size: 1em;
        line-height: 2em;
      }

      .ul-li {
        padding-left: 1.2em;
      }

      .back-to-top a {
        font-size: 0.8em;
        padding: 1.5em 0;
      }
    }
  }
}
