/* --------------------------------- Base CSS*/

/* general style */
html {
  font-size: 1rem;
  font-family: Merienda, Monaco, "Courier New", monospace;

  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

  body {
    background-color: black;
  }
}

/* header navigation */
header {
  background-color: rgb(0, 0, 0);
  /* top: 0;
  left: 0;
  position: fixed; */
  z-index: 100;
  width: 100%;
  padding: 0.5em;

  .head-nav {
    width: 100%;
    height: 100%;

    nav ul {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      padding: 0;
    }

    nav ul li a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: yellowgreen;
      font-size: 1.4em;
      border-radius: 4em;
      padding: 0.5em 1.6em;
    }

    nav ul li a:hover {
      background-color: yellowgreen;
      color: black;
      transition: color 0.3s;
    }
  }
}

main {
  padding: 0 1em;
  max-width: 100vw;
  min-height: 100vh;

  .h1-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 5em;
      color: whitesmoke;
      text-decoration: underline;
      text-align: center;
    }

    h1::first-letter {
      color: yellowgreen;
    }
  }
  p {
    color: yellowgreen;
  }

  /* media pictures */
  .media-pictures {
    color: #c0c0c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20em;

    p {
      padding-bottom: 0.5em;
    }

    img {
      border: 10px solid yellowgreen;
    }
  }

  /* media audio */
  .media-audio {
    color: #c0c0c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    margin-bottom: 20em;

    p {
      padding-bottom: 0.5em;
    }

    audio {
      min-width: 70%;
    }
  }

  /* media video */
  .media-video {
    color: #c0c0c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    margin-bottom: 20em;

    p {
      padding-bottom: 0.5em;
    }

    video {
      min-width: 70%;
      max-height: 30em;
    }
  }

  /* media video */
  .media-iframe {
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    margin: auto;
    margin-bottom: 5em;

    p {
      padding-bottom: 0.5em;
    }

    iframe {
      width: 100%;
      height: 46rem;
    }
  }
}

/* footer */
footer {
  background-color: #000000;
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  font-size: 0.7em;
  padding: 1em 1em;
}

/* --------------------------------media query  for tablet*/
@media screen and (min-width: 431px) and (max-width: 768px) {
  header {
    top: 0;
    left: 0;
    position: fixed;
  }
  .media-iframe {
    /* background-color: red; */
    height: 30rem;

    iframe {
      width: 100%;
    }
  }
}

/* --------------------------------media query  for mobile*/
@media screen and (max-width: 430px) {
  header {
    top: 0;
    left: 0;
    position: fixed;

    .head-nav {
      nav ul {
        display: flex;
        justify-content: center;

        li a {
          /* background-color: #0000ff; */
          padding: 0.2em 0.7em;
        }
      }
    }
  }

  main {
    .h1-container {
      h1 {
        font-size: 3.5em;
      }
    }
    .media-audio {
      width: 100%;
      height: 100%;

      audio {
        width: 100%;
      }
    }

    .media-video {
      width: 100%;
      height: 100%;

      video {
        width: 100%;
      }
    }

    .media-iframe {
      height: 20rem;

      margin-bottom: 5em;

      iframe {
        height: 80%;
      }
    }
  }
}
